.container {
  padding: 0 50px;
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 0;
  }
}
.snipcart-checkout {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
